@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@use "vars" as *;

$font-primary: 'Montserrat','Arial',sans-serif;
$font-body: 'Lato','Arial',sans-serif;
$font-primary: 'Montserrat','Arial',sans-serif;
$font-body: 'Lato','Arial',sans-serif;
$color-primary-text: #636363;
$color-favorite: #F22F59;
$color-rating: #EFA127;

body {
    margin: 0;
    // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    //   "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    //   sans-serif;
    font-family: $font-primary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    padding: 1rem;
    color: #272727;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1 {
    font-size: 24px;
    text-align: center;
    color: $color-primary-text;
}

a{
    text-decoration: none;
}
